<%
if ( typeof users === 'undefined' ) {
// There are only one user.
%>
<ol class="breadcrumb">
	<li><a href="/"><%= __('Home') %></a></li>
	<li><a href="/user/"><%= __('Users') %></a></li>
	<li class="active"><%= user.username %></li>
</ol>

<h2><%= user.username %></h2>
	<%
	if ( session.canAdminUser ) {
	// There logged user and showed user is the same.
	%>
	<p>Email: <%= user.email %></p>
	<form action="/user/destroy/<%= user.id %>" method="POST">
		<a class="btn btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
		<input type="hidden" name="_method" value="delete"/>
		<input type="submit" class="btn btn-danger" value="<%= __('Delete') %>"/>
	</form>
	<% } %>
<%
} else {
// There are multiple one user.
%> 

<ol class="breadcrumb">
	<li><a href="/"><%= __('Home') %></a></li>
	<li class="active"><%= __('Users') %></li>
</ol>
<h2>Users</h2>
<ul>
<% _.each(users, function(user){ %>
	<li><a href="/user/<%= user.id %>"><%= user.username %></a></li>
<% }); %>
</ul>

<% } %>
