<ol class="breadcrumb">
    <li class="active"><%= __('Home') %></li>
</ol>
<div class="page-header">
	<h2><%= __('Building webapps realtime') %></h2>
</div>
<p><%= __('I trying to learn and teach SailsJs to make real-time web application. I made releases per each post I write (In Spanish, sorry)') %></p>
<h3><%= __('Posts') %></h3>
<ol>
	<li><a href="http://jorgecasar.github.io/blog/desarrollar-webapps-realtime-creacion/"><%= __('Set up') %></a></li>
	<li><a href="http://jorgecasar.github.io/blog/desarrollar-webapps-realtime-usuarios/"><%= __('Users') %></a></li>
	<li><a href="http://jorgecasar.github.io/blog/desarrollar-webapps-realtime-auth/"><%= __('Auth') %></a></li>
	<li><a href="http://jorgecasar.github.io/blog/desarrollar-webapps-realtime-auth-con-passport/"><%= __('Auth with Passport') %></a></li>
	<li><a href="http://jorgecasar.github.io/blog/desarrollar-webapps-realtime-auth-con-passport-y-proveedores/"><%= __('Auth with Passport and Providers') %></a></li>
</ol>

<h3><%= __('Source Code') %></h3>
<p><a href="https://github.com/jorgecasar/building-realtime-webapp">https://github.com/jorgecasar/building-realtime-webapp</a></p>
